[user]
	name = Éverton M. Vieira
	email = emuvi@outlook.com.br
[credential]
	helper = store --file ~/.git-credentials
[credential "https://github.com"]
	username = emuvi
[pull]
	ff = only
[core]
	eol = lf
	autocrlf = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[global]
[safe]
	directory = *
[init]
	defaultBranch = master
