[user]
	name = Éverton M. Vieira
	email = everton.muvi@gmail.com
[credential]
	helper = /usr/bin/git-credential-manager-core
	credentialStore = secretservice
[credential "https://dev.azure.com"]
	useHttpPath = true
