[user]
	name = Everton Murilo Vieira
	email = emuvs@pointel.com.br
[core]
	autocrlf = input
	fscache = true
	symlinks = false
[pull]
	rebase = false
[credential]
	helper = manager-core
[init]
	defaultBranch = master