body {
  foreground: #373b41;
  background: #ffffff;
  cursor: #bababa;

  color0: #111213;
  color1: #972620;
  color2: #126331;
  color3: #dc8640;
  color4: #1450d2;
  color5: #9655be;
  color6: #1450d2;
  color7: #9800df;
  color8: #e06500;
  color9: #972620;
  color10: #15743a;
  color11: #cc6300;
  color12: #1555e0;
  color13: #8d46b9;
  color14: #1450d2;
  color15: #ffffff;

  color16: #f8561b;
  color17: #1450d2;
  color18: #151619;
  color19: #31353a;
  color20: #cb00dd;
  color21: #ec7200;
}
